.footer {
  &__inner {
    display: flex;
    .l-container-responsive(@max-width);
  }

  &.reverse-content-direction &__inner {
    justify-content: flex-end;
  }

  &.center-content &__inner {
    justify-content: center;
  }

  &.space-around-content &__inner {
    justify-content: space-around;
  }

  &.space-between-content &__inner {
    justify-content: space-between;
  }
}

// --------------------------------------------------
// --------------------------------------------------
// THEME
// --------------------------------------------------
// --------------------------------------------------
.footer {
  &__inner {
    padding: @item-padding;
  }
}
