<div class="footer__inner">

  <div class="footer__body">
    <div class="footer__body-inner">
      {{{_footer._footerContent}}}
    </div>
  </div>

  {{#if _footer._graphic.src}}
  <div class="footer__image-container">
    <img class="footer__image" src="{{_footer._graphic.src}}" alt="{{_footer._graphic.alt}}">
  </div>
  {{/if}}

</div>
